.page-title{
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.form-container{
    margin-top: 50px;
}

.ui.teal.button:focus, .ui.teal.buttons .button:focus{
    background-color: #00b5ad;
}