* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar";
  height: 100vh;
  width: 100vw;
  background: #dadada;
}

.main-image {
  grid-area: image;
  background-color: red;
}

.sidebar {
  grid-area: sidebar;
  background: purple;
}

.slider-container {
  grid-area: slider;
  margin-top: 2rem;
  padding: 2rem;
}

.slider{
  width: 100%;
  cursor: pointer;
}