html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #fff;
}

input,button,textarea{
  outline: none;
}

.navbar-top-icon{
  position: absolute;
  right: 0;
}