{{!-- Navbar --}}

<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">Unknown Post</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>

{{!-- screen --}}

<div class="container">

  <section class="homescreen">
    <div class="padding">
      <center>
        <h1 class="homescreen-h1">Explore Blog With Unknown</h1>

        {{!-- slider --}}

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <i class="homescreen-icon fas fa-laugh-beam"></i>
            </div>
            <div class="carousel-item">
              <i class="homescreen-icon fas fa-angry"></i>
            </div>
            <div class="carousel-item">
              <i class="homescreen-icon fas fa-grin-beam-sweat"></i>
            </div>
            <div class="carousel-item">
              <i class="homescreen-icon fas fa-grin-tears"></i>
            </div>
            <div class="carousel-item">
              <i class="homescreen-icon fas fa-sad-cry"></i>
            </div>
            <div class="carousel-item">
              <i class="homescreen-icon fas fa-smile-beam"></i>
            </div>
            <div class="carousel-item">
              <i class="homescreen-icon fas fa-smile-wink"></i>
            </div>
          </div>
        </div>

        {{!-- login singup buttons --}}

        <div class="mt-5">
          <a href="/login" class="btn homescreen-btn btn-outline-dark"><i class="fas fa-key"></i> Login</a>
          <a href="/signup" class="btn homescreen-btn btn-outline-dark"><i class="fas fa-user-tie"></i> Signup</a>
        </div>

      </center>




    </div>
  </section>

</div>

{{!-- footer --}}